@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Change Password</h3>
    <form asp-action="ChangePassword" asp-controller="Account">
        <input type="hidden" asp-for="Id" />
        <span asp-validation-for="OldPassword"></span>
        <div class="input-group">
            <label asp-for="OldPassword" class="control-label">Old Password</label>
            <input type="text" asp-for="OldPassword" class="form-control" />
        </div>
        <span asp-validation-for="NewPassword"></span>
        <div class="input-group">
            <label asp-for="NewPassword" class="control-label">New Password</label>
            <input type="text" asp-for="NewPassword" class="form-control" />
        </div>
        <div class="input-group">
            @Html.ValidationMessage("ChangePasswordError")
            <br />
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index", "Account", new { Model.Email})'" />
        </div>
    </form>
</div>