@model string

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p>To set a new password please click <a href=@Model>here</a></p>
</div>
