@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
        <div class="row">
            <span asp-validation-for="Email"></span>
            <div class="input-group input-group-icon">
                <input asp-for="Email" placeholder="Email" />
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
            </div>
        </div>
        <div class="row">
            <div>
                @Html.ValidationMessage("ForgotPasswordError")
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>


