@model SignUpViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="row">
        <h3>Account</h3>
        <span asp-validation-for="FullName"></span>
        <div class="input-group input-group-icon">
            <input asp-for="FullName" placeholder="Full Name" />
            <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <span asp-validation-for="Email"></span>
        <div class="input-group input-group-icon">
            <input asp-for="Email" placeholder="Email" />
            <div class="input-icon"><i class="fa fa-envelope"></i></div>
        </div>
        <span asp-validation-for="Password"></span>
        <div class="input-group input-group-icon">
            <input asp-for="Password" placeholder="Password" />
            <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
        <span asp-validation-for="ConfirmPassword"></span>
        <div class="input-group input-group-icon">
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
    </div>
    <div class="row">
        <div>
            <h4>Date of Birth</h4>
            <div class="input-group">
                <input asp-for="BirthDate" />
            </div>
        </div>
        <div>
            <h4>Gender</h4>
            <div class="input-group">
                <input type="radio" asp-for="Gender" value="male" id="gender-male" checked />
                <label for="gender-male">Male</label>
                <input type="radio" asp-for="Gender" value="female" id="gender-female" />
                <label for="gender-female">Female</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <input type="submit" value="Register" />
        </div>
    </div>
</form>

