@model string

@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Registration completed, please click <a href=@Model class="here">here</a> to verify your email</p>
