
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <input type="button" value="Sign In" onclick="location.href='@Url.Action("SignIn", "Account")'" />
    <input type="button" value="Sign Up" onclick="location.href='@Url.Action("SignUp", "Account")'" />
</div>